---
import "../styles/global.css";
import Navbar from "../components/Navbar.astro";
import Hero from "../components/Hero.astro";
---

<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<title>Enactus - Inicio</title>
		<meta name="viewport" content="width=device-width, initial-scale=1.0" />
	</head>
	<body>
		<Navbar />
		<Hero />
	</body>
</html>
