<nav
    style="
  background-color: var(--verde);
  padding: 1rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.5rem;
"
>
    <h1 style="color: white; margin: 0;">ENACTUS</h1>
    <div style="display: flex; gap: 2rem;">
        <a href="/" style="color: white; text-decoration: none;">Inicio</a>
        <a href="/Proyectos" style="color: white; text-decoration: none;"
            >Proyectos</a
        >
        <a href="/Equipo" style="color: white; text-decoration: none;">Equipo</a
        >
    </div>
</nav>
