---
import "../../styles/global.css";
import Navbar from "../../components/Navbar.astro";
---

<html lang="es">
    <head>
        <meta charset="UTF-8" />
        <title>Proyecto Artesanias - Enactus</title></head
    >

    <body>
        <Navbar />
        <section class="section">
            <a href="/Proyectos" class="button">Volver a Proyectos</a>
            <h2>Proyecto Aetesanias</h2>
            <img
                src="https://via.placeholder.com/800x300"
                alt="Proyecto Amaranto"
                style="width: 100%; border-radius: 8px; margin-bottom: 1rem;"
            />
            <p>
                El proyecto Amaranto busca fomentar la producción de este
                cultivo ancestral como fuente de nutrición sostenible y
                generadora de ingresos.
            </p>
            <p>🌱 Sostenibilidad, nutrición, y comunidad.</p>
        </section>
    </body>
</html>
